{% if is_paginated %}
<nav aria-label="Page navigation example">
      <ul class="pagination pagination-template d-flex justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page={{ post_list.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
        {% endif %}
        {% for page_number in page_obj.paginator.page_range %}
          {% if page_obj.number == page_number %}
        <li class="page-item"><a href="?page={{ page_number }}" class="page-link active">{{ page_number }}</a></li>
          {% elif page_number > page_obj.number|add:'-3' and page_number < page_obj.number|add:'3' %}
        <li class="page-item"><a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ post_list.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
        {% endif %}
      </ul>
</nav>
{% endif %}